<h1><%= @course.name %></h1>

<% if @course.lessons.any? %>
  <h4>Here are the lessons for this course:</h4>

  <ul>
    <% @course.lessons.each do |lesson| %>
      <li>
        <p>(Week <%= lesson.week %>) <%= link_to lesson.name, course_lesson_path(@course, lesson) %>
          <%= link_to "Edit", edit_course_lesson_path(@course, lesson) %> |
          <%= link_to "Delete", course_lesson_path(@course, lesson), :data => {:confirm => "Are you sure?", :method => "delete"} %>
        </p>
          <% if lesson.chapters.any? %>
          <ul>
            <% lesson.chapters.each do |chapter| %>
              <li>
                <p>
                  <%= chapter.handson %> | (Day)<%= chapter.day %> | <%= link_to chapter.name, lesson_chapter_path(lesson, chapter)%> |
                  <%= link_to "Edit", edit_lesson_chapter_path(lesson, chapter) %> |
                  <%= link_to "Delete", lesson_chapter_path(lesson, chapter), :data => {:confirm => "Are you sure?", :method => "delete"} %>
                </p>
              </li>
            <% end %>
          </ul>
          <% else %>
            <p>There are no chapters yet!</p>
          <% end %>
          <br>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no lessons yet!</p>
<% end %>

<p><%= link_to "Add a Lesson", new_course_lesson_path(@course) %></p>
<p><%= link_to "Delete Course", course_path(@course), :data => {:confirm => "are you sure?", :method => "delete"} %> </p>

<p><%= link_to "Return to courses", courses_path %></p>
